.menu__title{
	// height: 40px;
	position: relative;
	// top: 14px;
	// left: 15px;
	height: 100%;
	font-family: "Roboto";
	font-weight: 100;
	font-size: 1.750em; // A MODIFIER
	line-height: 2.55em;
	padding-left: 15px;
	color:#343434;
	
	span{
		font-weight: 500;
	}
	
	p{
		display: block;
		float: left;
		&.menu__title__view{
			margin-left: 5px;
			position: relative;
			height: 100%;
			width: auto;
			span.titleview{
				display: inline;
				position: relative;
				height: 1.7em;
				padding: 0.3em;
				line-height: 100%;
				top: -0.15em;
				bottom: 0px;
				margin: 0px auto auto 0.5em;
				font-weight: 300;
				text-transform: lowercase;
				font-size: 0.7em;
				color:#b8b8b8;
				border: 1px solid #b8b8b8;
				width: auto;
				font-style: italic;
			}
			// display: none;
		}
	}
}