section.sidebar__panoslist

	article.sidebar__panoslist__item.video
		img(src="img/video_anim.gif").video_hover
		section.sidebar__panoslist__item__title
			h3 
				img(src="img/play.png")
				| Vidéo drone
		div.gradient

	article.sidebar__panoslist__item.pano_item.pano1.active(data-pano="pano1")
		section.sidebar__panoslist__item__title
			h3 
				img(src="img/360.png")
				| Vue panoramique
			img(src="img/eye.png", alt="Panorama actif").eye
		div.gradient

	article.sidebar__panoslist__item.pano_item.pano2(data-pano="pano2")
		section.sidebar__panoslist__item__title
			h3 
				img(src="img/360.png")
				| Exterieur
			img(src="img/eye.png", alt="Panorama actif").eye
		div.gradient

	article.sidebar__panoslist__item.pano_item.pano3(data-pano="pano3")
		section.sidebar__panoslist__item__title
			h3 
				img(src="img/360.png")
				| Salle de classe
			img(src="img/eye.png", alt="Panorama actif").eye
		div.gradient

	article.sidebar__panoslist__item.pano_item.pano4(data-pano="pano4")
		section.sidebar__panoslist__item__title
			h3 
				img(src="img/360.png")
				| Salle de sport
			img(src="img/eye.png", alt="Panorama actif").eye
		div.gradient